.Slider {
  /*top: 0;
  height: 0vh;*/
  border-radius: 10%;
}
.sliderImg {
  height: 80vh;
  width: 100%;
}
.InnerSlider {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(33, 37, 38, 1) 100%
  );
  border-radius: 10px;
}
.GamesCarouselImg {
  width: 100%;
  border-radius: 10px;
  height: 135px;
  object-fit: cover;
}

.GamesInfo {
  color: white;
}

.itemImage {
  width: "100%";
  height: "auto";
}
.GamesPayment {
  padding-left: 30px;
  padding-right: 30px;
}

.banner {
  border-radius: 30px/20px;
  border-radius: 0 30px/20px 0 0;
}
