.container {
  /*flex-wrap: wrap;*/ /* Esto hace que se esten poniendo los elementos en una misma fila */
  justify-content: center;
  display: flex;
  width: 100%;
}

/*
  Se pusieron imagenes con medidas absolutas para mantener el tamano de las tarjetas de las misma medida
*/
.img-card {
  width: 290px;
  height: 165px;
  object-fit: cover;
}

/*
  -------------------------------------
*/

