.BackgroundRec {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/usuarios-b78e1.appspot.com/o/the-witcher-3-wild-hunt-video-game-wide-1600x900.jpg?alt=media&token=3e52dde3-892b-4adf-b1dc-dd2d1163ba67");
  background-size: 300px 500px;
}

.background-image {
  background-color: rgb(150, 116, 3);
}

body {
  background-color: #171717;
}
