.BackgroundRec {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/usuarios-b78e1.appspot.com/o/the-witcher-3-wild-hunt-video-game-wide-1600x900.jpg?alt=media&token=3e52dde3-892b-4adf-b1dc-dd2d1163ba67");
  background-size: 300px 500px;
}

.background-image {
  background-color: rgb(150, 116, 3);
}

body {
  background-color: red;
}

.nose {
  background: rgb(26, 32, 44);
  background: linear-gradient(
    0deg,
    rgba(26, 32, 44, 1) 67%,
    rgba(26, 32, 44, 0.9530082296590511) 74%,
    rgba(26, 32, 44, 0.8661734957654936) 79%,
    rgba(26, 32, 44, 0) 100%,
    rgba(26, 32, 44, 0.24992699716605393) 100%,
    rgba(255, 255, 255, 0) 100%
  );
}
