/* AQUI VA TODO EL CSS DE LA CARPETA COMPONENTES NADA MAS :D */

.navImage {
  width: 125px;

  position: absolute;
}


.header {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 1%, rgba(33,37,38,100) 100%);
  color: white;
}

Nav.Link {
  color: white;
}

.Slider {
  top: 0;
  height: 0vh;
  width: 100%;
}
.sliderImg {
  height: 80vh;
  width: auto;
  object-fit: cover;
}
.Takea {
  flex-direction: row;
}
