/* AQUI VA TODO EL CSS DE LA CARPETA COMPONENTES NADA MAS :D */

Nav.Link {
  color: white;
}

.Slider {
  top: 0;
  width: 100%;
}
.sliderImg {
  height: 100px;
  width: auto;
}

.Takea {
  flex-direction: row;
}
.carouselitem1 {
  position: absolute;
  width: 50%;
  height: 100%;
  color: white;
  background: rgb(23, 23, 23);
  background: linear-gradient(
    90deg,
    rgba(23, 23, 23, 1) 2%,
    rgba(23, 23, 23, 0.8717757366618523) 43%,
    rgba(255, 255, 255, 0) 92%
  );
}

.mpg {
  text-transform: initial;
}

.header {
  background: rgb(23, 23, 23);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(23, 23, 23, 0.39838638091955536) 84%,
    rgba(23, 23, 23, 0.17429674506521353) 94%,
    rgba(255, 255, 255, 0) 100%
  );
}
