/* AQUI VA TODO EL CSS DE LA CARPETA COMPONENTES NADA MAS :D */

Nav.Link {
  color: white;
}

.Slider {
  top: 0;
  width: 100%;
}
.sliderImg {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.Takea {
  flex-direction: row;
}
