.IconBorder {
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* background: #7c77b9; */
  background-color: #4ab790;
  border: 12px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: "auto";
}
.ImgIcon {
  width: 175px;
  height: 175px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
